.monitoramento {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.painel {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-info {
    width: 320px;
}
.borda-sinalizacao-normal {
    height: 100%;
    border-radius: inherit;
    box-shadow: 2px 2px 5px #1ee635;  
}

.borda-sinalizacao-alerta {
    height: 100%;
    border-radius: inherit;
    box-shadow: 2px 2px 5px #c9e92e;  
}

.borda-sinalizacao-critica {
    height: 100%;
    border-radius: inherit;
    box-shadow: 2px 2px 5px #ce4010;  
}
.info-numerica {
    color: #555;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px auto; 
}