<div class="monitoramento">
    <h1>Monitoramento</h1>
    <div class="painel">
        <mat-card class="card-info">
            <div class="borda-sinalizacao-critica">
                <mat-card-header>
                    <mat-card-title>Clínica</mat-card-title>
                    <mat-card-subtitle>Pacientes esperando atendiemento clínico</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="info-numerica">43</p>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="card-info">
            <div class="borda-sinalizacao-normal">
                <mat-card-header>
                    <mat-card-title>Pediatria</mat-card-title>
                    <mat-card-subtitle>Pacientes esperando atendiemento pediatria</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="info-numerica">13</p>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="card-info">
            <div class="borda-sinalizacao-alerta">
                <mat-card-header>
                    <mat-card-title>Ortopedia</mat-card-title>
                    <mat-card-subtitle>Pacientes esperando atendiemento ortopedia</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="info-numerica">24</p>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="card-info">
            <div class="borda-sinalizacao-normal">
                <mat-card-header>
                    <mat-card-title>Emergência</mat-card-title>
                    <mat-card-subtitle>Pacientes esperando atendiemento emergência</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="info-numerica">05</p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>